@using System.Data;
@inherits Westwind.RazorHosting.RazorTemplateBase<ZeroChaos.Business.Entities.InvoicePdfGenerationDetails>
<style>
    * {
        font-family: 'Times New Roman';
        font-size: 15px;
    }

    .right-align {
        text-align: right;
    }

    table {
        border: 2px solid black;
        border-collapse: collapse;
    }

        table thead th {
            border: 2px solid black;
        }

        table tbody tr td {
            border-left: 2px solid black;
            border-right: 2px solid black;
            padding-left: 5px;
            padding-right: 5px;
            vertical-align: top;
            font-size: small;
        }

        table tfoot tr td {
            border-right: 2px solid #000;
            border-left: 2px solid #000;
            border-bottom: 2px solid #000;
            border-top: none;
            height: 100%;
        }

    div {
        height: 100%;
    }
</style>
<div>
    <table style="height:100%;width:100%;">
        <thead>
            <tr style="height:30px">
                <th style="width:15%;">
                    <label>Name</label>
                </th>
                <th style="width:30%">
                    <label>Description</label>
                </th>
                <th style="width:8%">
                    <label>Approval Manager</label>
                </th>
                <th style="width:6%">
                    <label>Approval Date</label>
                </th>
                <th style="width:6%">
                    <label>PO #</label>
                </th>
                <th style="width:8%">
                    <label>Alt PO #</label>
                </th>
                <th style="width:5%">
                    <label>QTY</label>
                </th>
                <th style="width:5%">
                    <label>UOM</label>
                </th>
                <th style="width:7%">
                    <label>Rate</label>
                </th>
                <th style="width:10%">
                    <label>Total</label>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow row in Model.BodyDetailsDataSet.Tables[0].Rows)
            {
                <tr style="height:50px">
                    <td>
                        @row["Name"].ToString()
                    </td>
                    <td>
                        @row["Description"].ToString()
                    </td>
                    <td>
                        @row["ApprovalManager"].ToString()
                    </td>
                    <td>
                        @row["ApprovalDate"].ToString()
                    </td>
                    <td>
                        @row["PONumber"].ToString()
                    </td>
                    <td>
                        @row["AltPONum"].ToString()
                    </td>
                    <td class="right-align">
                        @row["Quantity"].ToString()
                    </td>
                    <td>
                        @row["Units"].ToString()
                    </td>
                    <td class="right-align">
                        @row["Rate"].ToString()
                    </td>
                    <td class="right-align">
                        @row["Total"].ToString()
                    </td>
                </tr>
            }
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tfoot>
    </table>
</div>
